.hasab {

}


footer {


}

#container
{
	width: 960px;
	background-color: #d2691e;
	margin:auto;
}
h1
{
	border-bottom: 2px solid #a52a2a;
}

li
{
	display: inline-block;
	min-width: 50px;
	padding: 6px;
	color:white;
	list-style-type: none;
	border-left: 2px solid #a52a2a;
	text-align: center;
}
ul li:first-of-type{
	border-left: 0px solid #a52a2a;
}